body {
  background-color: #20a297;
}
#bg {
  scale: 120%;
}
.jumbotron {
  background-image: url(../gambar/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
  background-position-y: 10%;

  /* background: linear-gradient(#20a297, #20c997); */
}
.jumbotron h1 {
  text-transform: uppercase;
}
.jumbotron h1::before {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #20c997;
  margin-top: -1.5px;
  position: relative;
  left: -7%;
  top: 15%;
}
.jumbotron h2 {
  padding-left: 5%;
}
.jumbotron p {
  padding-left: 5%;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
}
.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -125px;
  top: 25%;
  width: 200px;
}

.sticky li {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  list-style-type: none;
  background: #cfcfcf;
  color: black;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.sticky .facebook:hover {
  margin-left: -115px;
  background: #3b5999;
}

.sticky .instagram:hover {
  margin-left: -115px;
  background-color: #e4405f;
}

.sticky .twitter:hover {
  margin-left: -115px;
  background-color: #55acee;
}

.sticky .linkenid:hover {
  margin-left: -115px;
  background-color: #0077b5;
}

.sticky .github:hover {
  margin-left: -115px;
  background-color: gray;
}

.sticky .tumblr:hover {
  margin-left: -115px;
  background-color: #34465d;
}

.sticky .reddit:hover {
  margin-left: -115px;
  background-color: #ff5700;
}

.sticky .pinterest:hover {
  margin-left: -115px;
  background-color: #bd081c;
}

.sticky li img {
  float: left;
  margin: 5px 5px;
  margin-right: 10px;
}

.sticky li p {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 43px;
}

.about-me {
  background: linear-gradient(#20a297, #20c997);
}
.about-me img {
  width: 300px;
}

.row {
  margin-top: 5%;
}

.work {
  background: linear-gradient(#20c997, #212529);
}

.contact {
  background-image: url(../gambar/bg1.jpg), , linear-gradient(black, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  background-position-x: 90%;
  background-position-y: 10%;
}
